body{
    background-color: white;
}

#compas-container{
    width: fit-content;
}

.compas-compa{
    display: flex; /* equal height of the children */
}

.compas-img{
    padding: 8px;
    background-color: green;
}

.compas-img img{
    width: 80px;
    border-radius: 50%;
}


.compas-info-card{
    background-color: greenyellow;
}

.compas-info-card-wrapper{
    height: 100%;
}

.compas-info-card-name{
    background-color: red;
    height: 50%;
    vertical-align: bottom;
}

.compas-info-card-degree{
    background-color: blue;
    height: 50%;
}

.compas-actions-remove{
    background-color: lightcoral;
    height: 50%;
    vertical-align: bottom;
}

.compas-actions-hide{
    background-color: lightseagreen;
    height: 50%;
}

.column{
    
}



  
